click
jupyter
pandas
numpy
scrapy
twython
tqdm
pymongo
discord
discord-handler
python-dotenv
pendulum
praw
python-binance
vaderSentiment
matplotlib
transformers
torch
emoji
psutil
gensim
bs4
langdetect
pandarallel
scikit-learn
sentencepiece
tensortrade
fasttext